altgraph==0.17.3
future==0.18.2
natsort==8.2.0
nibabel==4.0.2
numpy==1.23.5
packaging==21.3
pefile==2022.5.30
pip==23.1.2
pydicom==2.3.1
pyinstaller-hooks-contrib==2022.13
pyinstaller==5.6.2
pyparsing==3.0.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQt6-Qt6==6.5.1
PyQt6-sip==13.5.1
PyQt6==6.5.1
pywin32-ctypes==0.2.0
setuptools==60.2.0
SimpleITK==2.2.0
wheel==0.37.1
